* {
    margin: 0;
    padding: 0;
}

#canvas {
    background: #fff;
    display: block;
}

.icon {
    width: 1em;
    height: 1em;
    vertical-align: -0.15em;
    fill: currentColor;
    overflow: hidden;
  }

.tool svg{
    width: 1.5em;
    height: 1.5em;
    transition: all 0.3s;
    padding: 10px;
    cursor: pointer;
}

.tool .top {
    position: fixed;
    top: 10px;
    right: 25px;
}

.tool .bottom {
    position: fixed;
    bottom:7px;
    left: 20px;    
}

.color{
    position: fixed;
    right: 27px;
    bottom: 17px;
    cursor: pointer;
}

.color > li{
    display: inline-block;
    width: 22px;
    height: 22px;
    border-radius: 50%;
    border: 1px solid #ccc;
    margin-left:12px;
    transition: all 0.3s;
}

.tool svg.active,.active{
    fill: red;
    transform: scale(1.2);
  }

.red {
    background: red;
}
.blue {
    background: blue;
}
.green {
    background: green;
}
.black {
    background: black;
}
